# OSX
#
.DS_Store

# node.js
#
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# .next
#
.next

# Backend
backend/.venv
backend/*.pyc
backend/db.sqlite3
backend/media/*
backend/django_project/__pycache__/ 
